<div class="row">
  <div class="col-md-12">
      <div class="card">
          <div class="card-header" data-background-color="red">
              <h4 class="title">Simulate Entry/Exit</h4>
          </div>
          <div class="card-content">
            <form ng-submit="addActivity()" ng-init="getPlates(); getActions();">

              <div class="form-group">
                <label for="time">Time:</label>
                <input type="date" style="width: 15%" class="form-control" id="time" ng-model="activity.time" required>
              </div>
              <div class="form-group">
                <label for="registration">Registration:</label>
                <select id="registrationSelector" ng-model="activity.registration" required>
                  <option ng-repeat="x in plates">{{x.plate}}</option>
                </select>
              </div>
              
                <div class="form-group">
                  <label for="registration">Action:</label>
                  <select id="registrationSelector" ng-model="activity.action" required>
                    <option ng-repeat="x in actions">{{x.name}}</option>
                  </select>
                </div>
                
              <button type="submit" class="btn btn-success">Simulate</button>
              <a href="#!/activities" class="btn btn-danger"> Cancel</a>
          </form>
          </div>
      </div>
  </div>
</div>