<div class="row">
	<div class="col-md-12" ng-init="getPlates()">
		<div class="card">
			<div class="card-header" data-background-color="red">
				<h4 class="title">Plates Management</h4>
			</div>
			<div class="card-content table-responsive">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header" data-background-color="blue">
							<h4 class="title">Add New Plates</h4>
						</div>
						<div class="card-content">
							<form>
								<div class="form-group">
									<label for="plate">Registration:</label>
									<input type="text" class="form-control" id="plate" ng-model="registration.plate" required>
								</div>
								<a href="#" class="btn btn-info" ng-click="addRegistration()"> Add Plates </a>
							</form>
						</div>
					</div>
				</div>

				<div class="col-md-12">
					<div class="card">
						<div class="card-header" data-background-color="blue">
							<h4 class="title">Plates List</h4>
						</div>
						<div class="card-content">
							<table class="table">
								<thead class="text-primary">
									<th>Registration</th>
									<th>Actions</th>
								</thead>
								<tbody>
									<tr ng-repeat="registration in plates">
										<td class="text-primary">{{ registration.plate }}</td>
										<td>
											<a href="#!/plates/{{registration._id}}/edit" class="btn btn-success">
												<span class="glyphicon glyphicon-edit"> </span> Edit </a>
											<a ng-click="deleteRegistration(registration._id)" class="btn btn-danger">
												<span class="glyphicon glyphicon-trash"> </span> Delete </a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>